opencv_python==4.2.0.34
omegaconf==2.0.1rc12
numpy==1.19.1
hydra_core==1.0.0rc4
pandas==1.0.4
torch==1.6.0
torchvision==0.7.0
albumentations==0.4.6
pytorch_lightning==0.9.0
iterative_stratification==0.1.6
dataclasses>='0.7'; python_version < '3.7'
hydra==2.5
pycocotools==2.0.2
